     * {
            background-color: #45B29D;
            text-align: center;
            font-family: sans-serif;
        }
        
        ul {
            list-style-type: none;
            text-indent: -2.5em;
        }